<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>288553682558-1qc3nj4is7h6fssddbbt0tabd61at8nf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.288553682558-1qc3nj4is7h6fssddbbt0tabd61at8nf</string>
	<key>API_KEY</key>
	<string>AIzaSyA6IL73uDIDcuR5c5RvkvL3KuwNY5AAKiY</string>
	<key>GCM_SENDER_ID</key>
	<string>288553682558</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.github.FeelBetter.Feel-Better</string>
	<key>PROJECT_ID</key>
	<string>feel-better-48ac1</string>
	<key>STORAGE_BUCKET</key>
	<string>feel-better-48ac1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:288553682558:ios:9a3d781cc4d4780d2d7a2f</string>
	<key>DATABASE_URL</key>
	<string>https://feel-better-48ac1.firebaseio.com</string>
</dict>
</plist>